<p>
   <table class="key">
     <tr>
       <td class="image">
	 <img class="hotel" src="/site_media/images/hotel.png" alt="Hotel"/>	
       </td>
       <td>=</td>

       <td>
	 Completed all 26 pubs consuming alcohol in each.
       </td>
     </tr>
     <tr>
       <td class="image">
	 <img class="house" src="/site_media/images/house.png" alt="House"/>	
       </td>
       <td>=</td>

       <td>
	 Visited all 26 stops, but didn't drink in each pub.
       </td>
     </tr>

     <tr>
       <td class="image">
	 <img class="dog" src="/site_media/images/dog.png" alt="Dog"/>	
       </td>
       <td>=</td>

       <td>
	 Attended, but did not complete the route.
       </td>
     </tr>
   </table>
</p>
