{% extends "base_template.html" %}

{%block title%}Monopoly Pub Crawl - Facebook{%endblock%}

{%block content%}

    <div style="text-align: center">
      <img src="/site_media/images/monopoly.png" alt="Monopoly Logo"/> 
    </div>

    <p style="text-align: center">Visit <a href="http://www.facebook.com/pages/The-Monopoly-Pub-Crawl/114510971899387">The Monopoly Pub Crawl on Facebook</a></p>

    <p style="text-align: center"><script type="text/javascript" src="http://static.ak.connect.facebook.com/connect.php/en_GB"></script><script type="text/javascript">FB.init("461985ebacf738c7da4a056fcc919268");</script><fb:fan profile_id="114510971899387" stream="0" connections="10" logobar="1" width="300"></fb:fan></p>

{%endblock%}
