<div style="text-align: center">
  <h1>Original Route</h1>
</div><p class="introduction">The route encompasses all 26 streets and stations on
  the Monopoly board, leaving out the Electric Company, Water Works
  etc.  However there are a few compromises: we don't visit the pubs
  in the order on the board and in some cases there simply isn't a pub
  on the actual street.  Also we were recently asked to remove a pub
  from the list (the last one) so you'll have to use on of the
  alternatives.  Public transport is used extensively, so you'll need
  a <b>Zone 1-2 Travelcard</b>.  The times given are the times
  we expect to leave the pub.  An <b>A-Z map</b> might also come
  in handy.  Remember to be careful when crossing the road, especially
  as the night wears on!</p><h2>Starting Off</h2><p class="start">Meet at <b>Elephant and Castle tube station</b>
  (Bakerloo and Northern lines) at <b>10:15</b> to leave
  promptly at <b>10:30</b>.  Any latecomers can catch up at one
  of the later pubs.  The meeting point is the main Elephant and
  Castle station entrance, not the shopping centre entrance which is
  on the opposite side of the roundabout.  Follow signs for South Bank
  University inside the station to reach it.</p><h2>1. Old Kent Road</h2><table class="stop">
  <tr>
    <td colspan="2" class="brown">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">
      Outside Elephant &amp; Castle tube station the <b>1, 53, 63,
      172, 188, 363 and 453</b> buses go to Old Kent Road from bus
      stop E near the tube station.  Once on the bus, continue over
      the large roundabout and alight at the Bricklayer's Arms stop.
      Walk back to the roundabout and go right up Tower Bridge Road.
      You will see The George on your right.
    </p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The George</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">***</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Tower Bridge Road, near Old Kent Road</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Courage Best<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 11:10</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727808402/">
        <img src="http://farm4.static.flickr.com/3427/3727808402_cf8a42be53_t.jpg" alt="The George"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">This pub now opens at 1030 on a Saturday, especially
      for the pub crawl!</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3 class="alternatives">Alternatives</h3>
      <ul class="alternatives">
        <li>
          <b>The World Turned Upside Down</b>
          <br/>
          <span class="comments">The World Turned Upside down is located further up Old Kent Road past the Bricklayer's Arms bus stop.  However it is usually closed on a Saturday morning.</span>
        </li>
      </ul>
    </td>
  </tr>
</table><h2>2. Fenchurch Street</h2><table class="stop">
  <tr>
    <td colspan="2" class="station">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Cross Tower Hill Road outside The George and get the
    <b>42</b> bus from the bus stop there.  There may be other bus routes that go over Tower Bridge so check the bus stop information.This will take
    you north across Tower Bridge.  Alight at the next stop, Tower
    Gateway DLR station.  Continue up Minories and turn left into
    Crosswall.  Continue straight through Crutched Friars until the
    road becomes Hart Street.  At which point take the turn to the
    right, past The Goose pub and into the square.  Enter Fenchurch
    Street station and go up the escalator.  The Raven is behind and
    to the right.  On the last visit, construction work had blocked up
    the main station entrance, and The Raven appeared to be
    closed.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Fen</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">**</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Fenchurch Street Station</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Young's<br/>London Pride<br/>Bass<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 11:40</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727809118/">
        <img src="http://farm4.static.flickr.com/3478/3727809118_3d99742432_t.jpg" alt="The Fen"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">This is a small and quiet pub. There is a good view from the window seats, but there's no time to waste at this point.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3 class="alternatives">Alternatives</h3>
      <ul class="alternatives">
        <li>
          <b>The Pitcher and Piano</b>
          <br/>
          <span class="comments">This is located just under the railway line near the Benjy's.</span>
        </li>
        <li>
          <b>The Windso</b>
          <br/>
          <span class="comments">You passed this on the way in, but it probably won't
	  be open.  It used to be called the Goose</span>
        </li>
      </ul>
    </td>
  </tr>
</table><h2>3. Whitechapel Road</h2><table class="stop">
  <tr>
    <td colspan="2" class="brown">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Leave the station turning right at the bottom of the
    escalators.  There is a branch of Benjy's here which sells, among
    other things, fortifying bacon sandwiches.  Leave the square on
    the right hand side and turn right into Fenchurch Street.
    Continue until the road becomes Aldgate High Street and cross in
    front of St. Boltoph's Church.  Cross the road via the subway on
    the corner of Middlesex street and continue in the same
    direction.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Aldgate Exchange</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">****</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Whitechapel Road</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Courage Best<br/>Directors<br/>Wadworth 6X<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 12:00</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727809618/">
        <img src="http://farm3.static.flickr.com/2619/3727809618_493a38c85a_t.jpg" alt="The Aldgate Exchange"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">This pub has recently been redecorated and given a
    bit of an Ikea-style makeover, which is a shame.  Still, it still has a
    reasonable selection of beers.  It's also very conveniently
    located not too far down Whitechapel High Street.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3 class="alternatives">Alternatives</h3>
      <ul class="alternatives">
        <li>
          <b>The White Hart</b>
          <br/>
          <span class="comments">Continue up Aldgate High street, past Aldgate East
	tube station until you reach The White Hart on your left.
	This is a nice small pub with a good selection of beer, and
	the opportunity to sit on the benches outside.  It's also very
	close to the tube station.</span>
        </li>
        <li>
          <b>The Pride of Spitalfields</b>
          <br/>
          <span class="comments">This pub is some distance further on.  Continue
	walking past the second Algate East station entrance and take
	a left up Osborn Street.  Continue as this turns into Brick
	Lane and take a right in a few streets time into Heneage
	Street.</span>
        </li>
      </ul>
    </td>
  </tr>
</table><h2>4. Liverpool Street</h2><table class="stop">
  <tr>
    <td colspan="2" class="station">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">There are two options: walk to Liverpool Street or
    take the tube.  Walking may well be faster if the Hammersmith and
    City line is closed or delayed. To walk, head back the way you
    came to Middlesex Street.  Go all the way down this road past
    Petticoat Lane and you will see Liverpool Street station in front
    of you.  To take the tube, walk the short distance to Aldgate East
    tube station.  From here take the Hammersmith and City line to
    Liverpool Street.  Walk up into the main station area and go up to
    street level at the Bishopsgate end.  At the end of the station to
    the right is The Hamilton Hall.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Hamilton Hall</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">***</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Liverpool Street Station</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Theakston Best<br/>Courage Directors<br/>William Younger's Scotch Ale<br/>Ringwood Old Thumper<br/>London Pride<br/>Abbot Ale<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 12:40</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727006893/">
        <img src="http://farm4.static.flickr.com/3453/3727006893_ce4255edd4_t.jpg" alt="The Hamilton Hall"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">This large bar used to be the ballroom of the Great
    Eastern Hotel, which explains the ornate ceilings.  Time is
    allowed for those who have not eaten so far to order food here.
    It's also a good meeting point for people joining
    late.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>5. The Angel Islington</h2><table class="stop">
  <tr>
    <td colspan="2" class="blue">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">There are two options: the bus or the tube.  The bus
    is a lot less walking but the tube can be faster if the bus takes
    a long time to arrive.  <b>If taking the bus</b>, leave the
    bar by the entrance inside the station by the toilets.  Walk along
    the gallery to the other end of the station, past McDonalds
    (another food opportunity).  Take the <b>214 bus from stop
    C</b>.  This will take you through Finsbury Circus and along
    City Road until it reaches the Angel Islington.  Alight just
    before the main junction where there is a green clock in the road
    to your left.  Cross the side road and enter the passage way
    marked with a sign for The Old Red Lion.  <b>If taking the
    tube</b>, walk around the back of Liverpool Street station past
    the UBS building, and then take the road that curves round to the
    right.  Turn left down Moorgate where you will find Moorgate tube
    station, where you can take the Northern line to Angel.  At Angel,
    walk across City Road at the cross roads, the front entrace to the
    Red Lion is a short distance down on the left.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Old Red Lion</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">****</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Angel, Islington</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Adnam's<br/>Abbot Ale<br/>Harvey's Sussex Best<br/>London Pride<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 13:15</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727810366/">
        <img src="http://farm4.static.flickr.com/3501/3727810366_0298c6be0d_t.jpg" alt="The Old Red Lion"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">This is a nice traditional pub with a theatre above
    it.  Enjoy the peace for a few moments before getting on the road
    again.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>6. Pentonville Road</h2><table class="stop">
  <tr>
    <td colspan="2" class="blue">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Leave the Old Red Lion by the front door and walk right up to the junction.  Turn left and cross, walking up Pentonville Road until you see The Castle on the right-hand side of the road.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Castle</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">***</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Pentonville Road</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Doom Bar<br/>Bitburger<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 13:35</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727007699/">
        <img src="http://farm3.static.flickr.com/2657/3727007699_808e60dbf2_t.jpg" alt="The Castle"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">Formerly the Pint Pot, this pub is comfortable but
    not what it used to be.  Not much bitter, but its rating has gone
    up because it serves the excellent Doom Bar!  Still, no time to
    hang around...</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>7. Kings Cross</h2><table class="stop">
  <tr>
    <td colspan="2" class="station">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Leave The Castle, cross back onto the left side of
      Pentonville Road and walk uphill to the bus stop.  The
      <b>30,73 and 214 buses</b> stop here and will take you
      down to Kings Cross station.  It's walkable but better to get
      the bus.  Alight from the bus just outside the station and walk
      to <b>Platform 8</b> to find the Duke of York (formerly
      Coopers).</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Duke of York</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">***</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Kings Cross Station</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Worthington Best<br/>Hancocks<br/>Bass<br/>Young's<br/>Theakston's Best<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 13:55</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727811140/">
        <img src="http://farm3.static.flickr.com/2564/3727811140_da8f95338e_t.jpg" alt="The Duke of York"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">Note this pub may be closed currently - alternatives are below.  This pub is quite busy, but it has a good selection of beer.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3 class="alternatives">Alternatives</h3>
      <ul class="alternatives">
        <li>
          <b>O'Neills Euston Road</b>
          <br/>
          <span class="comments">Across the road from the station and a bit further up the road.</span>
        </li>
        <li>
          <b>The Champagne Bar - St. Pancras Station</b>
          <br/>
          <span class="comments">If you're a high-roller you could take a trip to the
	champagne bar at the new (at the time of writing) St. Pancras
	station.  Enter the station at the side and go upstairs.</span>
        </li>
      </ul>
    </td>
  </tr>
</table><h2>8. Euston Road</h2><table class="stop">
  <tr>
    <td colspan="2" class="blue">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Leave the station by the side entrance and up Euston Road past St. Pancras until you reach The Rocket on the right hand side.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Rocket</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">**</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Euston Road</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Tetley's<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 14:30</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727812700/">
        <img src="http://farm3.static.flickr.com/2495/3727812700_e3b2066003_t.jpg" alt="The Rocket"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">This is quite a modern and spacious pub.  Its
      rating has gone down because, apart from a big selection of
      lagers, they only serve Tetley's!</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>9. Marylebone Station</h2><table class="stop">
  <tr>
    <td colspan="2" class="station">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">This link is a little difficult.  Carry on up Euston Road until you reach Euston Square (<b>note</b> not Euston) station.  From here take the Hammersmith &amp; City or Metropolitan line to Baker Street.  Once there, leave by the Baker Street exit, turn right then left at the lights up Melcombe Street.  Continue up here to Marylebone Station.  Enter the station, turn left and go right to the end, where you will find the pub on your left.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Victoria &amp; Albert</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">****</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Marylebone Station</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Black Sheep<br/>Greene King IPA<br/>Youngs<br/>London Pride<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 15:00</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727813312/">
        <img src="http://farm3.static.flickr.com/2566/3727813312_80f34b75ee_t.jpg" alt="The Victoria &amp; Albert"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">This is quite a large pub, with a good beer selection.  It's also a good place to eat, since there are many food outlets in the station including a Burger King, a branch of Marks &amp; Spencer among others.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3 class="alternatives">Alternatives</h3>
      <ul class="alternatives">
        <li>
          <b>Sports Bar and Grill</b>
          <br/>
          <span class="comments">This pub is untested, but seems to be located close to Marylebone in Melcombe Place.</span>
        </li>
      </ul>
    </td>
  </tr>
</table><h2>10. Park Lane</h2><table class="stop">
  <tr>
    <td colspan="2" class="purple">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">This is probably the longest link between pubs, depending on how reliable London Transport is.  Leave the station by the main entrance and walk straight ahead across the road to the bus stop.  Here you need to catch a bus to Baker Street, preferably the number 2.  The number 2 will take you all the way, but otherwise you will need to change at Baker Street to get a <b>2, 74 or 82 bus</b> in the direction of Hyde Park Corner.  Alight on Park Lane just outside the London Hilton hotel.  Continue southwards and take the left hand road, Old Park Lane.  At the end of the road is the Rose &amp; Crown.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Rose &amp; Crown</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">***</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Old Park Lane</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Bombardier<br/>Greene King IPA<br/>Courage Directors<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 15:30</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727011255/">
        <img src="http://farm4.static.flickr.com/3435/3727011255_59a1dc61a7_t.jpg" alt="The Rose &amp; Crown"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">This is a comfortable pub with a good atmosphere.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>11. Mayfair</h2><table class="stop">
  <tr>
    <td colspan="2" class="purple">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Walk back up Old Park Lane and turn right into Hertford Street.  Continue to the end and turn left.  Turn right in front of the Shepherds Tavern and walk down towards the Kings Arms at the end.  Turn left and you will see The Grapes in a the small square of Shepherd's Market, Mayfair.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">Ye Grapes</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">*****</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Shepherd's Market, Mayfair</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">London Pride<br/>Brakspear<br/>Doom Bar<br/>Greene King IPA<br/>Adnam's<br/>Youngs<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 15:50</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727011503/">
        <img src="http://farm4.static.flickr.com/3456/3727011503_92302f7af0_t.jpg" alt="Ye Grapes"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">This is a very nice old pub in a lovely location.  The beer selection is very good and it's pleasant both inside and outside.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>12. Piccadilly</h2><table class="stop">
  <tr>
    <td colspan="2" class="yellow">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Leave the Grapes and walk straight ahead down White Horse Street.  When you reach Piccadilly turn left and carry on for about 200 yards.  After passing The Ritz on the opposite side, cross and head down Arlington Street.  The Blue Posts is on the corner of this and Bennet Street.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Blue Posts</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">***</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Bennett Street, Piccadilly</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Courage Best<br/>Theakstons Best<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 16:10</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727012109/">
        <img src="http://farm3.static.flickr.com/2632/3727012109_94ed787337_t.jpg" alt="The Blue Posts"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">This is the closest pub to Piccadilly.  It's a good place to rest tired legs for a few minutes before carrying on.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>13. Pall Mall</h2><table class="stop">
  <tr>
    <td colspan="2" class="pink">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Carry on down Bennet Street and cross St. James Street at the crossing.  Walk down St. James Street until you reach King Street on the left.  You should see the Golden Lion on the right hand side, but it will probably be closed.  If so, walk down Crown Passage (to the right of the Golden Lion) to reach the Red Lion.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Red Lion</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">****</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Crown Passage, Pall Mall</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">London Pride<br/>Bass<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 16:30</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727012863/">
        <img src="http://farm3.static.flickr.com/2654/3727012863_73b1ed3cc2_t.jpg" alt="The Red Lion"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">This is a small cosy pub with a rather difficult set of stairs to negotiate to reach the toilets.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3 class="alternatives">Alternatives</h3>
      <ul class="alternatives">
        <li>
          <b>The Golden Lion</b>
          <br/>
          <span class="comments">You should pass this on the way in, but it seems to be closed on a Saturday.</span>
        </li>
      </ul>
    </td>
  </tr>
</table><h2>14. Whitehall</h2><table class="stop">
  <tr>
    <td colspan="2" class="pink">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Go down Crown Passage to Pall Mall and turn left.  Continue until you reach Waterloo Place, cross the road and continue up Pall Mall.  Go down Cockspur Street and continue on the right hand side to Whitehall.  Carry on round the corner, past the Whitehall Theatre.  The Lord Moon of the Mall is on the right.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Lord Moon of the Mall</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">****</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Whitehall</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Many and varied (it's a Wetherspoons)<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 16:50</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727816024/">
        <img src="http://farm4.static.flickr.com/3500/3727816024_e52ef83482_t.jpg" alt="The Lord Moon of the Mall"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">Another high-ceilinged Wetherspoons conversion, this is a spacious pub with a lot of beers to try.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3 class="alternatives">Alternatives</h3>
      <ul class="alternatives">
        <li>
          <b>The Clarence</b>
          <br/>
          <span class="comments">This is just across the road from the Lord Moon of the Mall, and will probably be open.</span>
        </li>
      </ul>
    </td>
  </tr>
</table><h2>15. Northumberland Avenue</h2><table class="stop">
  <tr>
    <td colspan="2" class="pink">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Cross the road, going back to the lights if necessary, and walk down Whitehall past the The Clarence.  Turn left here, go down Great Scotland Yard until you reach Northumberland Avenue.  Cross the avenue and you'll see The Sherlock Holmes ahead at the bottom of Northumberland Street.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Sherlock Holmes</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">***</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Northumberland Street</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Boddingtons<br/>Old Speckled Hen<br/>Sherlock Holmes Ale<br/>Flowers Original<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 17:10</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727816348/">
        <img src="http://farm3.static.flickr.com/2593/3727816348_23fee45f09_t.jpg" alt="The Sherlock Holmes"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">A little corny, but the house ale is worth trying.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>16. Fleet Street</h2><table class="stop">
  <tr>
    <td colspan="2" class="red">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Another reasonably long link.  Go down Craven Passage
    to the left of the pub.  Now there are two options: get the bus,
    or get the tube.  The bus seems to be the best choice.  To get to
    the bus stop, turn left just before the tunnel and walk up to The
    Strand.  Cross the road (with care), and get the <b>11, 15 or
    23</b> from stop <b>F</b> to Fleet Street.  Stop before
    you reach Ludgate Hill and Ye Olde Cheshire Cheese is in a
    (signposted) passage to your left.  To get the tube, keep going
    under the tunnel until you reach Villiers Street.  There are some
    fast food establishments here for a quick take-away.  Turn right
    and walk down to Embankment Station.  Take the District or Circle
    line going east two stops to Blackfriars.  Take Exit 8 from the
    station and walk up to Ludgate Circus.  Take a left here down
    Fleet Street and about 100 yards on the right is the passage to
    the pub.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">Ye Olde Cheshire Cheese</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">****</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Fleet Street</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Sam Smith's Old Brewery Bitter<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 17:45</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727816778/">
        <img src="http://farm4.static.flickr.com/3427/3727816778_7c594d6ee3_t.jpg" alt="Ye Olde Cheshire Cheese"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">A famous old pub, apparently rebuilt in 1667.  There are several small bars and seating areas.  Watch out for the low doorways.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3 class="alternatives">Alternatives</h3>
      <ul class="alternatives">
        <li>
          <b>The Tipperary</b>
          <br/>
          <span class="comments">If Ye Olde Cheshire Cheese is shut, cross back over Fleet Street and go into The Tipperary.  A bit cramped downstairs but not too bad upstairs.</span>
        </li>
      </ul>
    </td>
  </tr>
</table><h2>17. The Strand</h2><table class="stop">
  <tr>
    <td colspan="2" class="red">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Go back out onto Fleet Street and continue walking.
    There is a McDonalds if more take-away food is required.  You can
    get a bus, but it's easier to walk down.  Go past the Royal Courts
    of Justice, past the BBC World Service in Bush House, and the
    church on an island in the centre of the road.  Just past Waterloo
    Bridge we enter the Strand where you should see The Wellington
    straight ahead.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Wellington</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">***</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">The Strand</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Bass<br/>London Pride<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 18:15</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727015979/">
        <img src="http://farm3.static.flickr.com/2671/3727015979_1d7c181910_t.jpg" alt="The Wellington"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">The bar is long and thin and quite crowded, so best to sit outside if possible.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>18. Bow Street</h2><table class="stop">
  <tr>
    <td colspan="2" class="orange">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Outside the pub turn left and walk up Wellington Road towards Covent Garden.  On the corner as the road becomes Bow Street you'll see the Marquess of Anglesey to the right.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Marquess of Anglesey</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">****</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Bow Street</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Youngs Bitter<br/>Youngs Special<br/>Youngs Oregon Amber<br/>Waggledance<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 18:35</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727017681/">
        <img src="http://farm3.static.flickr.com/2510/3727017681_b38aa4345f_t.jpg" alt="The Marquess of Anglesey"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">This pub isn't too bad but tends to get too crowded.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>19. Trafalgar Square</h2><table class="stop">
  <tr>
    <td colspan="2" class="red">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Leave the pub and cross Wellington Road, following the crowd straight ahead to Covent Garden market square.  Walk through to the South West corner into Henrietta Street.  Continue straight on, across Bedford Street in the the alley (Bedford Court).  Once you reach the end of this turn left down St. Martin's Lane, past The Coliseum and you'll see The Chandos on the left just before you reach Trafalgar Square.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Chandos</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">****</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">St. Martin's Place</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Old Brewery Bitter<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 19:00</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727820748/">
        <img src="http://farm4.static.flickr.com/3491/3727820748_63e388aeec_t.jpg" alt="The Chandos"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">Another busy pub, but very comfortable if you can find a seat.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>20. Leicester Square</h2><table class="stop">
  <tr>
    <td colspan="2" class="yellow">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Come out of the pub and walk straight up Charing Cross Road away from the square.  Cross the road at the zebra crossing just past the National Portrait Gallery.  Take a left up the pedestrianised Irving Street which will lead you into Leicester Square.  Just round the corner past the Odeon you'll see The Moon Under Water.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Moon Under Water</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">**</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Leicester Square</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Theakstons XB<br/>Theakstons Best<br/>Courage Directors<br/>London Pride<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 19:45</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727821258/">
        <img src="http://farm3.static.flickr.com/2465/3727821258_9635a0c205_t.jpg" alt="The Moon Under Water"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">Not so much a pub as a long thin room, this pub is constantly very crowded due to its location.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>21. Coventry Street</h2><table class="stop">
  <tr>
    <td colspan="2" class="yellow">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Take a diagonal route across Leicester Square and exit by the Swiss Centre to your right.  Here might be a good place for eating - there is a McDonalds, a KFC and a Pizza Hut if you're very ahead of schedule.  Cross Whitcomb Street into Coventy Street and then take the first left down Oxenden Street.  The Comedy is about halfway down on the right.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Comedy</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">**</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Oxenden Street</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Old Speckled Hen<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 20:15</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727018773/">
        <img src="http://farm3.static.flickr.com/2512/3727018773_f67d66223e_t.jpg" alt="The Comedy"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">This pub has lost most of its character due to being refurbished, but it does have two spacious bars - one upstairs one downstairs.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3 class="alternatives">Alternatives</h3>
      <ul class="alternatives">
        <li>
          <b>The Tom Cribb</b>
          <br/>
          <span class="comments">At the end of Oxenden Street you'll find the Tom Cribb should The Comedy be closed.</span>
        </li>
      </ul>
    </td>
  </tr>
</table><h2>22. Regent Street</h2><table class="stop">
  <tr>
    <td colspan="2" class="green">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Turn right out of the pub past the Tom Cribb and right again down Panton Street.  Cross The Haymarket and go straight down Norris Street, near Regent Street.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Captain's Cabin</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">**</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Norris Street</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Courage Best<br/>Courage Directors<br/>Theakstons Best<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 20:35</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727821838/">
        <img src="http://farm3.static.flickr.com/2502/3727821838_95e5979d55_t.jpg" alt="The Captain's Cabin"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">A bit of a strange pub with an attempt at a seafaring theme.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>23. Vine Street</h2><table class="stop">
  <tr>
    <td colspan="2" class="orange">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Unfortunately this stop is a bit complicated!  Turn
    left then right out of the pub down Carlton Street onto Lower
    Regent Street.  Head up to Piccadilly Circus, then left down
    Piccadilly.  Cross at the second set of pedestrian lights in front
    of St. James' Church.  Head up Swallow Street and you'll see Vine
    Street to your right.  There used to be a bar on the corner here,
    but at the time of writing the space is being redeveloped
    (hopefully into a bar!).  Carry on up Swallow Street and you'll
    pass two of your alternatives on your left: Bentley's Below and
    Gaucho's.  Unfortunately these places are not likely to let a big
    group in at this time, so emerge onto Regent Street, go to the
    left and cross to enter Glasshouse Street on your right, where
    you'll find the Leicester Arms and The Warwick.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Leicester Arms</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">**</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Glasshouse Street</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Unknown<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 21:10</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727822550/">
        <img src="http://farm3.static.flickr.com/2449/3727822550_a0b4dd5f85_t.jpg" alt="The Leicester Arms"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">This is a fairly run of the mill pub, but at least it
    will probably let you in!</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3 class="alternatives">Alternatives</h3>
      <ul class="alternatives">
        <li>
          <b>The Warwick</b>
          <br/>
          <span class="comments">This is a pub just across
	the road from the Leicester Arms.</span>
        </li>
        <li>
          <b>Bentley's Below</b>
          <br/>
          <span class="comments">This is a reasonably
	posh bar so difficult to get into.  Be careful to go
	downstairs and not into the restaurant upstairs.  It's also
	not advisable to enter in large groups.  Last time we visited
	they didn't seem to sell any kind of beer at all, so it was
	whiskeys all round.</span>
        </li>
        <li>
          <b>The Gaucho Grill</b>
          <br/>
          <span class="comments">This is a restaurant, but there is a bar as well.
	It's a little further up Swallow Street just before the
	corner.</span>
        </li>
      </ul>
    </td>
  </tr>
</table><h2>24. Marlborough Street</h2><table class="stop">
  <tr>
    <td colspan="2" class="orange">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Come out of Swallow Street onto Regent Street.  Turn left and start walking until you reach Beak Street on your right.  Cross and go down it until you reach Carnaby Street.  Walk up to the top where you will see Greate Marlborough Street with O'Neills on the corner.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">O'Neills</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">***</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Great Marlborough Street</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Murphys<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 21:40</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="http://www.flickr.com/photos/grahambennett/3727823310/">
        <img src="http://farm3.static.flickr.com/2661/3727823310_0dfa72e274_t.jpg" alt="O'Neills"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">Quite a spacious pub but it's nicer outside.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>25. Bond Street</h2><table class="stop">
  <tr>
    <td colspan="2" class="green">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">Unfortunately we have had to remove the pub we usually have here (see the description for details), so we'll have to go for an untested one.  Come out of the pub and go left along Great Marlborough Street, you'll see the Magistrates Court in front of you. Cross Regent Street at the end and go down Hanover Street to Hanover Square. Go round the square to the opposite North West corner and proceed down Tenterden Street. On Dering Street is the Hogshead.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">Hogshead (untested)</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">Unknown</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Dering Street, New Bond Street</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Unknown<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until 22:15</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="">
        <img src="/site_media/images/unknown.png" alt="Hogshead (untested)"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">The owner of the pub we previously had
    for this stop has asked us to remove his pub from the site.  It
    appears he was having a lot of trouble from pub crawlers who were
    very noisy and disruptive.  Once again please try to drink
    within your limits - this kind of thing only ruins the pub crawl
    for everybody else.  If you know of a better choice please let us know.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"/>
  </tr>
</table><h2>26. Oxford Street</h2><table class="stop">
  <tr>
    <td colspan="2" class="green">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="directions">We don't know of any pubs on this end of Oxford
    Street, so we have to go for a side street instead.  Go out onto
    New Bond Street, turn right up Oxford Street and turn left about
    30 yards further on into Woodstock Street.  The Spread Eagle is
    just round the corner, opposite The Woodstock.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 60%;">
      <table class="pub">
        <tr>
          <td class="pubname" colspan="2">The Spread Eagle</td>
          <td class="pubtitle">Rating</td>
          <td class="pub">Unknown</td>
        </tr>
        <tr>
          <td class="pubtitle">Location</td>
          <td class="pub">Woodstock
    Street</td>
          <td class="pubtitle" rowspan="2">Beers</td>
          <td class="pub" rowspan="2">Unknown<br/></td>
        </tr>
        <tr>
          <td class="pubtitle">Time</td>
          <td class="pub">until the death</td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 40%;">
      <a href="">
        <img src="/site_media/images/unknown.png" alt="The Spread Eagle"/>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="description">Unfortunately the owners of the pub we used to use
    have asked us to remove it, so we haven't personally tested this
    one.  Let us know how you get on!</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3 class="alternatives">Alternatives</h3>
      <ul class="alternatives">
        <li>
          <b>The Phoenix</b>
          <br/>
          <span class="comments">This pub is on Cavendish Square, close to Oxford Circus.  At least one crawler has reported success with this pub.</span>
        </li>
        <li>
          <b>The Last Bid (untested)</b>
          <br/>
          <span class="comments">This pub is a
	little further down Woodstock Street on the right.  We haven't
	tried it ourselves, but the reviews on BITE are
	reasonable.</span>
        </li>
      </ul>
    </td>
  </tr>
</table>
